@model Loinprojekt_admin.LoginService.InterfaceAdmin

@{
    ViewBag.Title = "Profil för administratör";
}

<h2>Profil</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Username)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Bild
        </dt>
        <dd>
            <!--Här bör det ligga en picture URL som vi får lägga till i adminobjektet-->
        </dd>
        <dt>
            E-postadress
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Användarnamn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Tillbaka till listan", "BlockedUsers")
</p>
