@model IEnumerable<Loinprojekt_admin.LoginService.InterfaceAdmin>
@{
    ViewBag.Title = "Kontakt";
}

<h2 style="color: red; ">@Html.ValidationMessage("Felmeddelande")</h2>

@if (Model.Count() > 0)
{

    <h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Lista över administratörer att kontakta</h2>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table">

            <tr>

                <th class="th">Användarnamn</th>
                <th class="th">E-post</th>

            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td style="font-weight: bold; font-style:italic">@Html.ActionLink((string)item.Username, "AdminProfile", new { id = item.ID })</td>
                <td>@Html.DisplayFor(m => item.Email)</td>
                <!--
         Man kanske vill visa email som en länk?
         <td><a href= "a Href(mailto:item.Email)"></a></td>

     -->


            </tr>
            }
        </table>
    </div>
}
else
{
    <h2 style="color:red">Det verkar som om inga administratörer går att finna just nu.</h2>
}
