@model Loinprojekt_admin.Models.StatisticModel
@{
    /**/

    ViewBag.Title = "Start";
}

<h1>Välkommen!</h1>

<p>Active users</p>
@Html.DisplayFor(m => m.ActiveRow)

<p>Flagged users</p>
@Html.DisplayFor(m => m.FlaggedRow)

<p>Blocked users</p>
@Html.DisplayFor(m => m.BlockedRow)

